html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
div {
  width: 100%;
  padding: 10px;
}
.zero {
  background-color: brown;
}
.one {
  background-color: yellow;
  margin: 0 auto;
}
.two {
  background-color: green;
  margin: 0 auto;
}
.three {
  background-color: aqua;
  margin: 0 auto;
}
.gameBoard {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.gameBoard span {
  font-size: 18px;
}
.scoreBoardTop {
  margin: 0 auto;
  width: 100%;

}
.scoreBoard {
  font-size: 26px;
  padding: 25px;
 
}